.stats-pipe {
    color: $gray-dark;
    font-size: 9.3px;
    line-height: 12px;
    margin-left: 2px;
    margin-right: 2px;
}

.footer-pipe {
    color: $gray-dark;
    font-size: 9.3px;
    line-height: 12px;
    margin-left: 2px;
    margin-right: 2px;
}

.header-pipe {
    color: black;
}