body {
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13.3px;

    @include mobile {
        font-size: 14.3px;
    }
}

.page-content {
    background-color: $gray-light;
    width: 85%;
    margin: 10px auto;
    overflow-wrap: break-word;
    
    @include mobile {
        width: 100%;
        margin: 0px;
    }
}