// set up color hex values
$gray-dark: #828282;
$gray-light: #f6f6ef;
$orange: #ff6600;
$black: #000000;
$white: #ffffff;

// set up color variables
$color-primary: $orange;
$color-secondary: $gray-dark;
$brex-orange: $orange;

// set up color classes
.color-primary {
  color: $orange
}
.color-secondary {
  color: $gray-dark
}